/* ### - Overlay: aFor Sidebar */

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.overlay2 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}

.layout-container{
}

.layout-content{
  min-height: 100vh;
  position: relative;
}

.go-back{
  margin: 115px 0px 0px 15px;
  display: flex;
}

@media (max-width: 760px) {
  .go-back {
    margin: 85px 0px 0px 15px;
  }
}
